body, html{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #331919;
}

.worldMap{
	width: 100%;
	max-width:calc(200vh - 50px);
	position: relative;	
	margin: 0 auto;
	-moz-user-select: none;             
	-webkit-user-select: none; 
	-ms-user-select: none;
}

.worldMap img{
	width: 100%;
	display: block;
	border-radius:6px;
}

.worldMap svg{
	position: absolute;
	width: 100%;
	height:100%;
	top:0;
	left:0;
}

button{
	background-color: #0c2766;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	text-shadow: 0px 1px 0px #86ae47;
	border-radius: 6px;
	border: 0px solid #000205;
	cursor: pointer;
	font-family: arial;
	font-size: 21px;
	font-weight: bold;
	background-color: #e8d1a4;
	color: #ab3334;
}

button:hover {
	background-color:#331919;
	color:#e8d1a4;
}

.startBox{
	width: 220px;
	height:65px;
	background-color: #c5c7c2;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.startBox button{
	font-size: 24px;
	width:100%;
	height:100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ab3334;
	color: #e8d1a4;
}

.startBox button:hover {
	background-color:#331919;
	color:#e8d1a4;
}

.infoBox{
	position: absolute;
	display: none;
	width:200px;
	height:240px;
	top: 50%;
	transform: translate(0%, -50%);
	background-color:#ab3334;
	border-radius:6px;
	border: 2px #331919 solid;
	max-width: 30%;
	max-height: 50%;
	color: #331919;
	font-family:arial;
	font-weight: bold;
	font-size: 17px;
}

.infoText{
	padding-left: 12%;
	padding-right: 12%;
	padding-bottom: 4%;
	margin-top: 10%;
	text-align: center;
}

.country{
	text-align: center;
}

.infoBox button{
	position: absolute;
	width: 60%;
	height: 25%;
	margin-top: 15%;
	margin-left: 20%;
	padding: 2% 2%;
}

.topBar{
	position: relative;	
	background-color: #dda185;
	max-width: calc(200vh - 50px);
	height: 25px;
	margin: 0 auto;
	font-size: 18px;
	font-family:arial;
	font-weight: bold;
	color: #331919;
	border-radius: 6px;
}
.question{
	padding-left: 1%;
}

.pointsMsg{
	float:right;
	padding-right: 1%;
}

.pointsLeft{
}

.points{
}

.dialogMeasure:hover{
	transform: scale(1.1);
}

.markerRed{
	background-image: url('markerRed.png');
	background-repeat: no-repeat;
	height:24px;
	width:14px;
	position: absolute;
	display: none;
	left: 0%;
	top: 0%;
}

.markerGreen{
	background-image: url('markerGreen.png');
	background-repeat: no-repeat;
	height:24px;
	width:14px;
	position: absolute;
	display: none;
	left: 0%;
	top: 0%;
}

.finishBox{
	display: none;
	width:164px;
	height:200px;
	background-color: #ab3334;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-family:arial;
	font-weight: bold;
	font-size: 20px;
	color: #e8d1a4;
	padding-top: 1%;
	word-wrap: break-word;
	border-radius:6px;
	border: 2px #331919 solid;
	
}

.totalCitiesTxt{
	padding-bottom: 2%;
}

.totalCities{

}

.finishBox button{
	width: 60%;
	height: 20%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 18%;
}

@media only screen and (max-width: 450px), screen and (max-height: 450px){
	.infoBox {
		width: 82px;
		height: 100px;
	}
	.infoText{
		font-size: 10px;
	}
	
	.finishBox{
		width: 82px;
		height: 100px;
		font-size: 8px;
	}
	.infoBox button{
		font-size: 11px;
	}
	.finishBox button{
		font-size: 11px;
	}
}
